@charset "UTF-8";
/* Empiezo scss variables */
/* Termino scss variables */
/* Empiezo scss mixin */
/* Termino scss mixin */
/* Empiezo scss maps */
/* Termino scss maps */
/* CSS Generales */
.textcenter {
  text-align: center; }

.body {
  background-color: #809FC8; }

.text_right {
  text-align: right; }

.nodotlist {
  list-style: none;
  text-decoration: none; }

.buttonbord {
  border-radius: 10px;
  margin-left: 260px;
  width: 100px; }

.subtitle {
  background-color: #f3d6d6;
  font-family: "Orelega One", cursive;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 7px;
  margin-top: 100px;
  margin-bottom: 20px; }

/* Termino CSS Generales */
/* Comienzo CSS Menú */
.logo {
  height: 70px;
  width: 100px; }

.navbar {
  position: fixed;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
  z-index: 1000;
  border: solid 2px black; }

.navbar-collapse {
  justify-content: center; }

.nav-link {
  font-size: 1.5rem;
  margin-right: 3px; }

.nav-contacto {
  background-color: #724E84;
  border: 3px solid aqua;
  border-radius: 5px;
  display: flex; }
  .nav-contacto:hover {
    background: aqua;
    border: 3px solid #724E84; }

/* Termino CSS Menú */
/* Comienzo CSS Index */
.bodyin {
  background-color: #809FC8; }

#carouselExampleDark {
  margin-top: 100px;
  margin-bottom: -50px; }

@media screen and (min-width: 1281px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }
  .div__repuma {
    justify-self: center; }
  .galeriaoffer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }
  .div__offer {
    justify-self: center; }
  .div__valoracion {
    justify-self: center; } }

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }
  .galeriaoffer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }
  .div__offer {
    justify-self: center; }
  #carouselExampleDark {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .galeriaoffer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .div__repuma {
    justify-self: center; }
  .div__offer {
    justify-self: center; }
  .footer {
    width: 100%; }
  #carouselExampleDark {
    display: none; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #809FC8; }
  .galeriaoffer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #809FC8; }
  .div__repuma {
    justify-self: center; }
  .div__valoracion {
    justify-self: center; }
  .div__offer {
    justify-self: center; }
  #carouselExampleDark {
    display: none; } }

.grid-header {
  grid-area: header; }

.grid-main {
  grid-area: main; }

.grid-footer {
  grid-area: footer; }

.container__logo {
  display: flex; }

.logo {
  width: 60px; }

.header {
  background-color: aqua;
  width: 100%;
  height: 150px;
  border: solid 2px red; }

.headerind {
  background-color: #222;
  border: 2px solid #222;
  border-radius: 10px;
  display: flex;
  justify-content: center; }

.div__repuma {
  background-color: #783278;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 700px;
  width: 400px;
  margin-bottom: 40px;
  margin-left: 40px;
  border: solid 3px #406FAD; }
  .div__repuma:hover {
    transform: scale(1.2, 1.2); }

.nombreprod {
  color: #783278;
  font-family: "Orelega One", cursive;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 2.3em;
  background-color: #f3d6d6; }

.imgpuma {
  width: 300px;
  margin: 10px 50px 50px 50px;
  border: solid 2px #406FAD; }

.imgadidas {
  width: 300px;
  margin: 10px 50px 50px 50px;
  border: solid 2px #406FAD; }

.precio {
  color: #1b1515;
  font-size: 1.70em;
  background-color: #724E84;
  text-decoration: underline;
  font-weight: bolder; }

.descprod {
  background-color: #724E84;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  color: white;
  font-size: 1.6em; }

.volverinicio {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin-right: 45px;
  z-index: 100;
  border: solid 2px aqua;
  border-radius: 2px;
  background-color: #724E84;
  text-decoration: none; }
  .volverinicio:hover {
    background-color: aqua;
    border: solid 2px #724E84; }
  .volverinicio a {
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0000008C; }

/* Termino CSS Index */
/* Comienzo css de Más Vendidos */
.vendidos {
  background-color: #969696;
  width: 100%;
  color: white;
  text-decoration: underline;
  font-size: 1em; }

.imglava {
  width: 300px;
  height: 300px;
  margin: 10px 50px 50px 50px;
  border: solid 2px #406FAD; }

.galeriamv {
  background-color: #809FC8;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }

/* Termino CSS de Más Vendidos */
/* Comienzo css de Ofertas */
.galeriaoffer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  grid-gap: 30px;
  margin-top: -15px; }

.descuento {
  background-color: green;
  color: aqua;
  position: absolute;
  padding: 10px;
  margin-left: -240px;
  margin-bottom: 430px; }

.div__offer {
  background-color: #783278;
  height: 700px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: double 4px #406FAD;
  position: relative; }
  .div__offer:hover {
    transform: scale(1.2, 1.2); }

/* Termino css de Ofertas */
/* Comienzo css de Mejor Valorados */
.valorado {
  background-color: #724E84;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.10em; }

.div__valoracion {
  background-color: #783278;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 900px;
  width: 400px;
  border: double 4px #406FAD; }
  .div__valoracion:hover {
    transform: scale(1.2, 1.2); }

/* Termina css de Mejor Valorados */
/* Comienzo css de CONTACTO */
.form1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpath fill='%234987c6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%233c74b9' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232e62ab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231d509e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003F91' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232d519c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%234563a7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%235a77b2' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236d8bbd' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23809FC8' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -20px; }
  .form1 fieldset legend:first-child {
    margin-top: 30px;
    font-size: 1.5em; }

.div__contacto {
  margin-top: 100px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpath fill='%234987c6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%233c74b9' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232e62ab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231d509e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003F91' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232d519c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%234563a7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%235a77b2' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236d8bbd' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23809FC8' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Orelega One", cursive;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 7px; }

.logocontacto {
  width: 100px; }

.opciones {
  padding: 10px;
  display: flex;
  align-items: baseline; }

form {
  padding: 20px; }
  form input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px; }
    form input:focus {
      background-color: #ac9e9e;
      box-shadow: 15px -13px #c4d8d8; }
  form label {
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  form textarea {
    margin-top: 30px;
    text-align: center;
    border-radius: 10px; }
    form textarea:focus {
      background-color: #ac9e9e;
      box-shadow: 15px -13px #c4d8d8; }
  form hr {
    color: black; }
  form option {
    display: inline-flex; }
  form select {
    padding: 10px;
    margin: 15px; }

.boton__contacto {
  border-radius: 10px;
  background-color: #809FC8;
  font-family: "Orelega One", cursive; }
  .boton__contacto:hover {
    background-color: grey; }

/* Termino CSS de CONTACTO */
/* Comienzo css de AYUDA */
.ayudalogo {
  width: 100px;
  margin-left: 47%;
  margin-top: 100px; }

.section__ayuda {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center; }

.bodyhelp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpath fill='%234987c6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%233c74b9' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232e62ab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231d509e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003F91' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232d519c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%234563a7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%235a77b2' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236d8bbd' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23809FC8' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

/* Termino css de AYUDA */
/* Comienzo Footer */
.footer {
  font-family: "Roboto Slab", serif;
  bottom: 0;
  font-size: 20px;
  background-color: #809FC8;
  margin-top: 15px;
  grid-area: footer;
  background-color: #559AD4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpath fill='%234987c6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%233c74b9' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232e62ab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231d509e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003F91' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232d519c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%234563a7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%235a77b2' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236d8bbd' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23809FC8' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.div__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.div__footer__redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em; }

.div__footer__nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.nosotros p {
  font-size: 0.80em;
  color: rgba(211, 211, 211, 0.705);
  font-style: italic;
  font-family: "Roboto Slab", serif;
  text-align: center; }

.nosotros a:last-child {
  font-size: 20px;
  margin-top: 10px;
  color: #361313;
  display: flex;
  justify-content: center; }

.logofooter {
  display: flex;
  width: 3em;
  align-items: center;
  justify-content: center; }

.copy__r {
  max-width: 1600px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.copy__r hr {
  border: none;
  height: 2px;
  background-color: black; }

.copy__r p {
  font-size: 15px;
  font-family: "Roboto Slab", serif; }
  .copy__r p:last-child {
    margin-top: -40px; }

/* Termino Footer */
