/* Empiezo scss variables */

//colores
$color-card: #783278;

$fondo: #809FC8;

$fondodesc: #724E84;

$borde: #406FAD;


//tipografias

$texto: 'Roboto Slab', serif;

$descripciones: Verdana, Geneva, Tahoma, sans-serif;

$titulos: 'Orelega One', cursive;


/* Termino scss variables */
